.modal {
  align-items: center;
  background-color: rgba(134, 134, 134, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.container {
  color: white;
  height: 100%;
  width: 100%;
}

.close {
  background-color: rgb(233, 233, 233);
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: block;
  font-family: 'Baloo 2', cursive;
  font-weight: 700;
  margin: 0.25rem auto;
  padding: 0.2rem 0.6rem;
  position: relative;
  transition: ease-in-out 0.3s;
}

.close:hover {
  background-color: rgb(223, 223, 127);
  transform: scale(1.2);
}

@media (max-width: 1000px) {
  .modal {
    background-color: transparent;
  }
}
