.planet-card-area {
  display: flex;
  margin: 0 auto 2rem;
  overflow-x: hidden;
  padding: 2rem 0 1rem;
}

.planet-card-area::-webkit-scrollbar {
  width: 1rem;
}

.planet-card-area::-webkit-scrollbar-thumb {
  background: rgba(139, 243, 247, 0.801);
  border-left: 8px solid #faf6ed;
  border-right: 8px solid #faf6ed;
}

.planet-card-area::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.479);
}
